<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/js/plugins/elementui/index.css">
    <link rel="stylesheet" href="/js/plugins/elementui/style.css">
    <link rel="stylesheet" href="/js/plugins/font-awesome/css/font-awesome.css">
    <script src="/js/vue.js"></script>
    <script src="/js/axios.js"></script>
    <script src="/js/plugins/elementui/index.js"></script>
    <script src="/js/plugins/jquery/jquery.min.js"></script>

</head>
<body class="hold-transition">
<div align="center">
    <h1>个人信息</h1>
</div>
<div id="app" align="center">
    <div style="width: 500px" align="center">
    <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="昵称">
            <el-input type="text" v-model="formData.nickname" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="真实姓名">
            <el-input v-model="formData.name"></el-input>
        </el-form-item>
        <el-form-item label="QQ号码">
            <el-input v-model="formData.qq"></el-input>
        </el-form-item>
        <el-form-item label="性别">
            <el-input v-model="formData.sex"></el-input>
        </el-form-item>
        <el-form-item label="出生日期">
            <el-col :span="11">
                <el-date-picker type="date" placeholder="选择日期" v-model="formData.birthday" style="width: 100%;"></el-date-picker>
            </el-col>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
            <el-button @click="resetForm('ruleForm')">重置</el-button>
        </el-form-item>
    </el-form>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            formData: {
                nickname: '',
                name: '',
                qq: '',
                sex: '',
                birthday: '',
            }
        },
        mounted(){

        },
        methods: {
            //重置表单
            resetForm() {
                // 清空表单内容
                this.formData={};
            },
            //提交修改信息
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        alert('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            //回显数据
            getuserinfo(){
                axios.get("/user")
            }
        }
    })
</script>
</html>